#chat-background {
  background-color: #abc1d1;
}
#chat-background .alt-header {
  position: fixed;
  z-index: 1;
  top: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: inherit;
}
@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.chat-screen {
  padding: 0px var(--horizontal-space);
  padding-top: 120px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}
.chat-screen__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message-row__author {
  opacity: 0.8;
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
}
.message-row__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  font-size: 18px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.message-row__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 10px;
  padding-right: 68px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column i {
  opacity: 0.5;
}
.reply__column:last-child > i {
  position: absolute;
  right: 40px;
  top: 6px;
  font-size: 25px;
}
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  outline: none;
}
.reply__column:last-child button i {
  opacity: 1;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 111%;
  transform: translateY(-80px) translateX(-10%);
}
.reply:focus-within {
  transform: translateY(80px);
}
