.find-screen {
  padding: 0px var(--horizontal-space);
  margin-bottom: 80px;
}

.recommended-friends {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding-top: 15px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-top: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.open-post:last-child {
  border-bottom: none;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  opacity: 0.7;
  margin-bottom: 3px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 3px;
}
.open-post__member-count {
  font-size: 14px;
  opacity: 0.7;
}
.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
.open-post__member-status {
  color: #ff64c3;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 8px;
}
.open-post__heart-count span {
  margin-left: 5px;
  font-size: 14px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
